* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
